/* Default */
p.centered {text-align: center;}
div.centered {text-align: center;}

/* Body CSS */
body {
	background-color:#000000;
	color:#FFFFFF;

	p {font-family:"Times New Roman", Times, serif;} 
	h6 {font-size:10px;}

	a:link {color: #333333;}
	a:visited {color: #FF0044;}
	a:active {color: #FF0055;}
	a img {border: none;}
}

/* Headed CSS */
p.header {padding:20px 0px 0px 40px;}
p.menu {padding:75px 0px 0px 0px;}
div.header {
	color: #A90425;
	font-size: 16px;
	padding-bottom: 25px;		
}

div.header a:link {color: #D7C4C9;
		text-decoration: none;}
div.header a:hover, a:active {color:#FF0044;
		text-decoration: none;}
div.header a:visited {color: #D7C4C9;
		text-decoration: none;}

/* Footer CSS */
div.footer {
	font-size: 10px;
	font-style: "Arial Narrow";
	p.centered {text-align: center;}
}

/* Rollover Effect */
a.singleRollover {
	display: block;
	width: 837px;
	height: 372px;
	background: url(/images/main.jpg) no-repeat 0 0;
	background-position: 0 -744px;
	overflow: hidden;
	text-indent: -10000px;
	font-size: 0px;
	line-height: 0px;
}

a:visited.singleRollover {
	background-position: 0 -744px;
}

a:hover.singleRollover {
	background-position: 0 -372px;
}

a:active.singleRollover {
	background-position: 0 -744px;
}
