/* Default */
p.centered {text-align: center;}
div.centered {text-align: center;}
div.padderBottom {margin-bottom:30px;} 

/* Body CSS */
body {
	background-color:#000000;
	color:#FFFFFF;

	p {font-family:"Times New Roman", Times, serif;} 
	h6 {font-size:10px;}

	a:link {color: #333333;}
	a:visited {color: #FF0044;}
	a:active {color: #FF0055;}
	a img {border: none;}
}

/* Headed CSS */
p.header {padding:20px 0px 0px 40px;}
p.menu {padding:75px 0px 0px 0px;}
div.header {
	color: #A90425;
	font-size: 16px;
	padding-bottom: 25px;		
}

div.header a:link, a:visited {
	color:#FF0044;
	text-decoration: none;}
div.header a:hover, a:active {
	color: #D7C4C9;
	text-decoration: none;}

/* Footer CSS */
div.footer {
	font-size: 10px;
	font-style: "Arial Narrow";
	text-align: center;
}

/* Rollover Effect */
a.singleRollover {
	display: block;
	width: 837px;
	height: 372px;
	background: url(/images/main.jpg) no-repeat 0 0;
	overflow: hidden;
	text-indent: -10000px;
	font-size: 0px;
	line-height: 0px;
}

a:visited.singleRollover {
	background-position: 0px 0px 0px 0px;
}

a:hover.singleRollover {
	background-position: 0px -372px;
}

a:active.singleRollover {
	background-position: 0px -372px;
}

/* Nav Menu */
#sddm
{	margin: 0;
	padding: 0;
	z-index: 30;}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: 11px arial;}

#sddm li a {
	display: block;
	margin: 0 0 0 0;
	padding: 0;
	width: 60px;
	background: #000;
	color: #FFF;
	background: #222;
	text-align: center;
	text-decoration: none;}

#sddm li a:hover {
	color: #FF0044;}

#sddm div {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #000;}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 0px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #000;
		color: #FFF;
		font: 11px arial;}

	#sddm div a:hover
	{	background: #222;
		color: #FF0044;}


/* Contact CSS */
.iFrame {
	width:780px;
	height:400px;
	overflow-x: hidden;
	overflow-y: auto;
	}

div.frameLinks {
	text-align: center;
	}

div.frameLinks a {
	display: block;
	font: 22px "Verdana";
	margin: 30px 0px 30px 0px;
	padding: 0;
	width: 72px;
	color: #FFF;
	text-decoration: none;}

div.frameLinks a:visited {
	color:#FFF;}

div.frameLinks a:hover {
	color:#FF0044;
	font-weight: bold;}

div.frameLinks a:active {
	color:#FF0044;}


/* About Me CSS */
div.about {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 12px;
	color: #FFF;
	text-align: justify;} 

div.about a{
	color:#555;
	}
