body {
	background-color:#000000;
	color:#FFFFFF;

	p {font-family:"Times New Roman", Times, serif;} 
	h6 {font-size:10px;}

	a:link {color: #333333;}
	a:visited {color: #FF0044;}
	a:active {color: #FF0055;}
	a img {border: none;}
}

p.centered {text-align: center;}
div.centered {text-align: center;}

div.header {
	color: #A90425;
	font-size: 16px;
	padding-bottom: 25px;		
}

div.header a:link {color: #D7C4C9;
		text-decoration: none;}
div.header a:hover, a:active {color:#FF0044;
		text-decoration: none;}
div.header a:visited {color: #D7C4C9;
		text-decoration: none;}

div.footer {
	font-size: 10px;
	font-style: "Arial Narrow";
	p.centered {text-align: center;}
}
